.text .title{
    font-size:3.6rem;
    font-weight: 500;
    line-height: 43.2px;;
}
.text .description{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-top:4px;
    font-size:16px;
}

.description .description-left{
    font-size:1.8rem;
    line-height: 25.2px;
    color: rgb(54, 54, 54);
    font-weight: 300;
}

.description .description-right{
    font-size:1.6rem;
    line-height: 16px;
    color: rgb(224, 53, 70);
    padding:3px;
    display:flex;
    align-items: center;
    font-weight: 300;;
}

a{
    text-decoration: none;
    color: rgb(224, 53, 70);
}

.list .image{
    flex:1;
    background-color: blueviolet;
    height:320px;
    border-radius: 6px;
    left:0px;
}
.information .top-text{
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    padding-left: 16px;
    padding-right: 16px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
}

.information .bottom-text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8;
    margin-right: 7px;
    margin-top: 0px;
    margin-left:0px;
}
.information .bottom-text i{
    font-size: 14px;
    font-weight: 300;
}
.information .bottom-text{
    margin-top:3px;
    padding-left: 16px;
    padding-right: 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
}